body{ background: -webkit-linear-gradient(left, #0072ff, #00c6ff); }

.txtboxes-group-div { margin:10px; padding:10px; font-size:12px; background: #FFF; border-radius: 10px;}
.txtboxes-group-row { margin-top:10px; padding:0; border:1px solid #ddd; width:100%;}
.txtboxes-group-div span { display:inline-block;}
.txtboxes-group-div .form-control { display:inline-block; background:#fff; border-bottom:1px solid #ddd; border-left:0; border-right:0; border-top:0; border-radius:0; padding:5px;font-size:14px;}
.txtboxes-group-div .form-control:focus, .txtboxes-group-div .form-control:hover { box-shadow:none;}
.icon-group { margin:0 10px; cursor:pointer; color:#339af0;}
.icon-group i { font-size:16px;}
.width80 {width:80%; }
.width100 {width:100%; }
.select-type { font-size:12px;}
.txtboxes-group-div .box { margin-bottom:5px; padding:10px 10px 0px 10px;}
.txtboxes-group-div .box-1 { margin-bottom:5px; padding:0 2px;}

.txtboxes-group-div .cols-1 { float:left; width:60%;}
.txtboxes-group-div .cols-2 { float:left; width:40%;}
.txtboxes-group-div .cols-3 { float:left; width:33.3335666%;}
.txtboxes-group-div .cols-12 { float:left; width:100%;}
.txtboxes-group-div .icon-right { text-align:right;}
textarea#content{width:100%;}

header{background: #FFF;}
h2{ font-family: sans-serif; font-weight: 600;padding: 10px;}

footer{background: #FFF;bottom: 0;position: fixed;}
.btn {width: 32.5%;padding: 0;}
.btn img {width: 36%;}
#dataCotent{width:100%;}
#dataCotent thead{border-bottom: 1px solid #333; }
#dataCotent thead tr td { padding-bottom:5px; }
#doSaving{padding: 5px;}

table#dataCotent td {padding: 2px; text-align: center;}
td#Ttxt {width: 60%;padding: 0 !important;text-align: left !important;}
td#Timg {width: 30%;}
td#Tdel {width: 10%;font-size: 28px;}
